// font-family
@mixin font($alias, $family, $name) {
  @font-face {
    font-family: $alias;
    src:
      url('../fonts/' + $family + '/' + $name + '.eot') format('eot'),
      url('../fonts/' + $family + '/' + $name + '.ttf') format('ttf'),
      url('../fonts/' + $family + '/' + $name + '.woff2') format('woff2'),
      url('../fonts/' + $family + '/' + $name + '.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
