@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DrukCyr;
  src: url('../assets/fonts/DrukCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
