* {
	margin: 0;
	padding: 0;
	outline: none;
}

img {
	display: block;
	width: 100%;
}

.item-product {
	margin-bottom: 30px;

	&__img {
		max-width: 80px;
		margin: 0 auto 10px;
	}

	&__desc {
		display: flex;
		flex-direction: column;
	}
}
